# Database Config
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tejas_db?schema=public"

# Auth Config
JWT_SECRET="tejas_jwt_production_secret_key_change_me_in_prod"

# Server Config
PORT=3001
NODE_ENV="development"
